<div class="container-fluid">   
    <div class ="jumbotron" id="events" style="background-color: rgb(20, 20, 20)"> Publications </div>
  </div>

 <div class="jumbotron">
   <h2 class="container"><b>IEEE Xplore - Digital library</b></h2>
   <h4 class="container">With more than 4.5 million documents, the IEEE Xplore Digital Library is a powerful resource for discovery of and access
      to scientific and technical content published by IEEE and its publishing partners.</h4>
    <button class="btn btn-outline-primary"><a href="https://ieeexplore.ieee.org/Xplore/guesthome.jsp?utm_source=mm_link&utm_campaign=vix&utm_medium=pubs&utm_term=Xplore%20guest">Visit</a></button>
  </div> 
  <div class="jumbotron">
      <h2 class="container"><b>IEEE Spectrum</b></h2>
      <h4 class="container">With more than 4.5 million documents, the IEEE Xplore Digital Library is a powerful resource for discovery of and access
         to scientific and technical content published by IEEE and its publishing partners.</h4>
       <button class="btn btn-outline-primary"><a href="https://spectrum.ieee.org/?utm_source=mm_link&utm_campaign=sp&utm_medium=pubs&utm_term=spectrum%20home">Visit</a></button>
     </div> 

     <div class="container-fluid">   
        <div class ="jumbotron" id="events" style="background-color: rgb(20, 20, 20)"> Education </div>
      </div>
  <div class="jumbotron">
      <h2 class="container"><b>IEEE eLearning Library</b></h2>
      <h4 class="container">IEEE offers a wide range of learning and career enhancement opportunities within the engineering sciences, research, and other technology areas. The goal of these programs is to ensure the growth of skill and knowledge among 
        professionals and to foster individual commitment to continuing education among IEEE members, the engineering and scientific community, and the general public.</h4>
       <button class="btn btn-outline-primary"><a href="https://www.ieee.org/education/elearning-library.html">Visit</a></button>
     </div> 

  


  
    
      <div class="jumbotron">
          <h2 class="container"><b>IEEE Access</b></h2>
          <h4 class="container">IEEE Access is an award-winning, multidisciplinary, all-electronic archival journal, continuously presenting the results of original research or development across all of IEEE's fields of interest.</h4>
           <button class="btn btn-outline-primary"><a href="https://ieeeaccess.ieee.org/">Visit</a></button>
         </div> 


 <div id="end"style="text-align:center">     
         <button id="dm"class="btn btn-outline-primary"><a href="https://www.ieee.org/sitemap.html">Discover More</a></button>
         </div>

        