

<div style="background-color:rgb(193, 191, 204)"><br><br>
  <div  style="text-align: center;background-color: black"><img id="img"src="https://www.ece.ucsb.edu/~parhami/images_folder/ieee_logo.jpg" height ="350px"  width="25%"><img id="img"src="http://sites.ieee.org/sb-centennial-college/files/2013/02/Header1.jpg" height ="350px"  width="75%"></div><br><br>
  <div id="ieee" class="container">
  <ul>
    <li>IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of humanity. Below, you can find IEEE's mission and vision statements.</li>
    <li>IEEE's core purpose is to foster technological innovation and excellence for the benefit of humanity.</li>
    <li>IEEE has a dual complementary regional and technical structure with organizational units based on geography and technical focus. It manages a separate organizational unit (IEEE-USA) which recommends policies and implement
      s programs specifically intended to benefit the members, the profession, and the public in the United States.</li>
    <li>The IEEE Digital Reality Initiative will serve as the go-to platform at the forefront blend of virtual reality (VR), augmented reality (AR), mixed reality (MR), 360-degree media, immersive, 
      and other future potential reality technology spaces.</li>
    <li>There are more than 422,000 IEEE members in over 160 countries around the world. IEEE members are engineers, scientists, and allied professionals whose technical interests are rooted in electrical and computer sciences, engineering, and related disciplines.</li>
      <li>IEEE sponsors more than 1,900 annual conferences and events worldwide, curating cutting-edge content for all of the technical fields of interest within IEEE.</li>
  </ul>
  
  </div>
<body style="background-color:rgb(21, 21, 105)">

    <h3 class="jumbotron-fluid"id ="p1">IEEE and its members inspire a global community to innovate for a better tomorrow through its more than 423,000 members in over 160 countries, and its highly cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing, and technology information around the globe.</h3>
      <div style="text-align: center; background-color: rgb(193, 191, 204)" > <img id="team"src="team.jpg" height ="500px"  width="800px" > </div>
      
 <div >     
      <h2 class="jumbotron-fluid"id="p2"style="text-align: center">The IEEE SPIT is the Student Chapter of Sardar Patel Institute of Technology located in Region 10.</h2>
     </div>
</body>

<div class="jumbotron" style="text-align: center">
<button class="btn btn-outline-primary-lg"><a href="https://www.ieee.org/">Visit IEEE.org</a></button>
<div>