
<body style="background-color:rgb(21, 21, 105) ">
<div class="container-fluid">   
    <div class ="jumbotron" id="events" style="background-color: rgb(20, 20, 20)">Our Events </div>
     </div> 
    
    

   <div class="row" id="grid">
        <div class="col-sm-1"></div>    
    <div class="col-sm-5">
                <div class="w3-container">
                   
                        <div id="team"class="w3-card-4 gl" style="width:100%">
                          <img id="one"src="WhatsApp Image 2019-03-01 at 9.32.22 PM.jpeg" alt="Person" style="width:100%">
                          <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                <div id="info"  style="text-align: center">
                                        <h4>DATES</h4>
                                        <h5>8TH-18TH October </h5><br>
                                        <h4>VENUE</h4>
                                        <h5>SPIT - Andheri-West</h5>
                               </div>
                          </div>
                        </div>
                      </div>
        </div>
    

        <div style="align-content: flex-end"class="col-sm-5">
                <div  class="w3-container">
                   
                        <div id="team"class="w3-card-4" style="width:100%">
                          <img id="one" style="background-color:rgb(19, 19, 24)" src="IEEEDay_2018_logo.png" alt="Person" style="width:100%">
                          <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                <div id="info"  style="text-align: center">
                                       <b> <h4>DATES</h4></b>
                                           <h5>Tuesday Of October </h5><br>
                                        <b><h4>VENUE</h4></b>
                                           <h5>SPIT - Andheri-West</h5>
                               </div>
                          </div>
                        </div>
                      </div> 
        </div>
    </div>
      
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
            
            
            <div class="w3-container">
                   
                    <div id="team"class="w3-card-4" style="width:100%">
                      <img id="one"src="extreme.png" alt="Person" style="width:100%">
                      <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                            <div id="info"  style="text-align: center">
                                    <h4>DATES</h4>
                                    <h5>November</h5><br>
                                    <h4>VENUE</h4>
                                    <h5>SPIT - Andheri-West</h5>
                           </div>
                      </div>
                    </div>
                  </div>
        
        
             




                    </div>
                    <div class="row" id="grid">
                            <div class="col-sm-5">
                                    <div class="w3-container">
                                       
                                            <div id="team"class="w3-card-4 gl" style="width:100%">
                                              <img id="one"src="WhatsApp Image 2019-05-17 at 19.59.10.jpeg" alt="Person" style="width:100%">
                                              <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                                    <div id="info"  style="text-align: center">
                                                            <h4>DATES</h4>
                                                            <h5>30TH-31ST March </h5><br>
                                                            <h4>VENUE</h4>
                                                            <h5>SPIT - Andheri-West</h5>
                                                   </div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
                            
                        </div>
                        <div class="row" id="grid">
                                <div class="col-sm-1"></div>   
                        <div class="col-sm-5">
                                    <div  class="w3-container">
                                       
                                            <div id="team"class="w3-card-4" style="width:100%">
                                              <img id="one" style="background-color:rgb(19, 19, 24)" src="WhatsApp Image 2019-05-17 at 20.15.32.jpeg" alt="Person" style="width:100%">
                                              <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                                    <div id="info"  style="text-align: center">
                                                           <b> <h4>DATES</h4></b>
                                                               <h5>25TH January </h5><br>
                                                            <b><h4>VENUE</h4></b>
                                                               <h5>SPIT - Andheri-West</h5>
                                                   </div>
                                              </div>
                                            </div>
                                          </div> 
                            </div>
                            <div class="col-sm-5">
                                
                                
                                <div class="w3-container">
                                       
                                        <div id="team"class="w3-card-4" style="width:100%">
                                          <img id="one"src="WhatsApp Image 2019-03-17 at 22.24.14.jpeg" alt="Person" style="width:100%">
                                          <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                                <div id="info"  style="text-align: center">
                                                        <h4>DATES</h4>
                                                        <h5>23RD-24TH March</h5><br>
                                                        <h4>VENUE</h4>
                                                        <h5>SPIT - Andheri-West</h5>
                                               </div>
                                          </div>
                                        </div>
                                      </div>
                                      
                                    </div>
                            

                                </div>
                        
                        
                       </body>