<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="container-fluid">
    <h1 id="add"class="text-center">Contact Address</h1>
    
    
    
      <div class="row text-center">
        <div class="col-4 box1 pt-4">
            <a href="tel:+123456789"><i class="fas fa-phone fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
            <p class="d-none d-lg-block d-xl-block">8108454692</p></a>
          </div>
          <div class="col-4 box2 pt-4">
            <a href="https://www.google.com/maps/place/Bharatiya+Vidya+Bhavan's+Sardar+Patel+Institute+of+Technology/@19.1251797,72.8359976,15.5z/data=!4m5!3m4!1s0x0:0x16268e5d6bca2e6a!8m2!3d19.1231779!4d72.8361154"><i class="fas fa-home fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Address</h3>
            <p class="d-none d-lg-block d-xl-block">8, New Dadabhai Nagar Rd, Munshi Nagar, Andheri West, Mumbai, Maharashtra 400058</p></a>
          </div>
          <div class="col-4 box3 pt-4">
            <a href="mailto:test@test.com"><i class="fas fa-envelope fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
            <p class="d-none d-lg-block d-xl-block">ieee@spit.ac.in</p></a>
          </div>
      </div>
    </div>
    
    
    
    