<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


<body >
  <div class="row">
    <div class="w3-animate-left">  
      <div class="col-md-2" style="text-align:center"><img src=" IEEE SPIT.png" width="150px" height="150px"></div>
    </div>
    <div class="w3-animate-top">      
      <div class="col-md-8"id ="Bhavans">
        <h1 style="text-align: center"id="spit">Sardar Patel Institute Of Technology </h1>
        <h3 id="bhavans"><b>I</b>nstitute Of <b>E</b>lectrical And <b>E</b>lectronics <b>E</b>ngineers</h3><br>
      </div>                  
    </div>
    <div class="w3-animate-right">  
      <div class="col-md-2" style="text-align:center" ><img src="Transperent_New_logo_Maroon-June2011.png"width="150px" height="150px"></div>
      </div>    
    </div>


  <div>



</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home" routerLinkActive="active">Home</a></li>
      
      <li><a routerLink="about" routerLinkActive="active">About</a></li>
      <li><a routerLink="events" routerLinkActive="active">Events</a></li>
      
      <li><a routerLink="support" routerLinkActive="active">Support</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="gallary" routerLinkActive="active">Gallery</a></li>
      <li><a routerLink="team" routerLinkActive="active">Team</a></li>
      
    </ul>
  </div>
</nav>
<div>
<router-outlet></router-outlet>
</div>
<div>

  
</div>
<div style="background-color:rgb(21, 21, 105)">

 
  

<div class= "end"  style="background-color:rgb(20, 20, 20)">
  <div class="row">
    <div class="col-sm-3 col-md-6" >
      <p style="text-align: center"><button type="button" id="botton" class="btn btn-outline-primary" style="background-color: rgb(20, 20, 20)"(click)="a()">About-Us</button></p>
          <p style="text-align: center"><button type="button"id="botton" class="btn btn-outline-primary" style="background-color: rgb(20, 20, 20)"(click)="c()">Contact</button></p>
          <p style="text-align: center"><button type="button" id="botton"class="btn btn-outline-primary" style="background-color:rgb(20, 20, 20)"(click)="s()">Support</button></p>
          
    </div>
    <div class="col-sm-9 col-md-6" >
      <p style="text-align: center"><button type="button" id="botton"class="btn btn-outline-primary" style="background-color:rgb(20, 20, 20)"(click)="g()">Gallary</button></p>
      <p style="text-align: center"><button type="button" id="botton"class="btn btn-outline-primary" style="background-color:rgb(20, 20, 20)"(click)="t()">Team</button></p>
      <p style="text-align: center"><button type="button" id="botton"class="btn btn-outline-primary" style="background-color:rgb(20, 20, 20)"(click)="h()">Back To Home</button></p>
     
         
    </div>
    <div class="col-sm-12 col-md-12"style="text-align: center"id="cutt" >
        <div class="w3-container w3-center w3-animate-bottom">
        
          <a id="cutt" href="https://www.facebook.com/sp.ieee/" class="fa fa-facebook "></a>
        <a  id="cutt"href="#" class="fa fa-google"></a>
        <a id="cutt"href="https://twitter.com/IEEEorg" class="fa fa-twitter"></a>
       
        </div>
      </div>
    </div>
    
 </div>
    <p  style="text-align: center" id="endd">© Copyright 2019 IEEE – All rights reserved. Use of this website signifies your agreement to the IEEE Terms and Conditions.
        A not-for-profit organization, IEEE is the world's largest technical professional organization dedicated to advancing technology 
        for the benefit of humanity. </p> 
    
 </div> 
</body>
</html>


