<div class="container-fluid">   
    <div class ="jumbotron" id="events" style="background-color: rgb(20, 20, 20)"> Our Team </div>
  </div>
<div class="container">
  <div id="team"class="jumbotron">
    KAMINI BUDKE - Chairperson
    </div>
    <div id="team" class="jumbotron">
        POOJA FIRKE - Vice Chairperson
        </div>
        <div id="team" class="jumbotron">
            ARNOLD JOHNSON FONSECA - Finance Head
            </div>
            <div id="team" class="jumbotron">
                RASHMI PHADNIS - Secretary
                </div>
            <div id="team" class="jumbotron">
                ANIRUDH KAMATH - Technical Head
                </div>
                <div id="team" class="jumbotron">
                    SHIVANI KHAMITKAR - Event Head
                    </div>
                    <div id="team" class="jumbotron">
                        CHETNA SHARMA - Public Relation Head
                        </div>
                        <div id="team" class="jumbotron">
                            AMOGH ZARE - Operation Head
                            </div>
                            
                                <div id="team" class="jumbotron">
                                    OMKAR PATIL - Marketing Head
                                    </div>
    </div>