

  <div  class="w3-container w3-center w3-animate-zoom">
<div  style="text-align: center"><img id="img"src="https://upload.wikimedia.org/wikipedia/en/thumb/2/21/IEEE_logo.svg/1024px-IEEE_logo.svg.png" height ="150px"  width="500px"></div>
</div>


<body style="background-color:rgb(21, 21, 105)">

    <h3 class="jumbotron-fluid"id ="p1">IEEE and its members inspire a global community to innovate for a better tomorrow through its more than 423,000 members in over 160 countries, and its highly cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing, and technology information around the globe.</h3>
      <div class="container-12"id="team" style=" background-color: rgba(193, 191, 204, 0.863)" > <img src="team.jpg" height ="500px"  width="800px" > </div>
      
 <div >     
      <h2 class="jumbotron-fluid"id="p2"style="text-align: center">The IEEE SPIT is the Student Chapter of Sardar Patel Institute of Technology located in Region 10.</h2>
     </div>
  <div class="container-fluid">   
  <div class ="jumbotron" id="events" style="background-color: rgb(20, 20, 20)">Our Events </div>
   </div> 
  


   <div class="row" id="grid">
        <div class="col-sm-4">
                <div class="w3-container">
                   
                        <div id="team"class="w3-card-4 gl" style="width:100%">
                          <img id="one"src="WhatsApp Image 2019-03-01 at 9.32.22 PM.jpeg" alt="Person" style="width:100%">
                          <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                <div id="info"  style="text-align: center">
                                        <h4>DATES</h4>
                                        <h5>8TH-18TH October </h5><br>
                                        <h4>VENUE</h4>
                                        <h5>SPIT - Andheri-West</h5>
                               </div>
                          </div>
                        </div>
                      </div>
        </div>


        <div class="col-sm-4">
                <div  class="w3-container">
                   
                        <div id="team"class="w3-card-4" style="width:100%">
                          <img id="one" style="background-color:rgb(19, 19, 24)" src="IEEEDay_2018_logo.png" alt="Person" style="width:100%">
                          <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                <div id="info"  style="text-align: center">
                                       <b> <h4>DATES</h4></b>
                                           <h5>Tuesday Of October </h5><br>
                                        <b><h4>VENUE</h4></b>
                                           <h5>SPIT - Andheri-West</h5>
                               </div>
                          </div>
                        </div>
                      </div> 
        </div>
        <div class="col-sm-4">
            
            
            <div class="w3-container">
                   
                    <div id="team"class="w3-card-4" style="width:100%">
                      <img id="one"src="extreme.png" alt="Person" style="width:100%">
                      <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                            <div id="info"  style="text-align: center">
                                    <h4>DATES</h4>
                                    <h5>November</h5><br>
                                    <h4>VENUE</h4>
                                    <h5>SPIT - Andheri-West</h5>
                           </div>
                      </div>
                    </div>
                  </div>
        
        </div>
             




                    </div>
                    <div class="row" id="grid">
                            <div class="col-sm-4">
                                    <div class="w3-container">
                                       
                                            <div id="team"class="w3-card-4 gl" style="width:100%">
                                              <img id="one"src="WhatsApp Image 2019-05-17 at 19.59.10.jpeg" alt="Person" style="width:100%">
                                              <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                                    <div id="info"  style="text-align: center">
                                                            <h4>DATES</h4>
                                                            <h5>30TH-31ST March </h5><br>
                                                            <h4>VENUE</h4>
                                                            <h5>SPIT - Andheri-West</h5>
                                                   </div>
                                              </div>
                                            </div>
                                          </div>
                            </div>
        
        
                            <div class="col-sm-4">
                                    <div  class="w3-container">
                                       
                                            <div id="team"class="w3-card-4" style="width:100%">
                                              <img id="one" style="background-color:rgb(19, 19, 24)" src="WhatsApp Image 2019-05-17 at 20.15.32.jpeg" alt="Person" style="width:100%">
                                              <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                                    <div id="info"  style="text-align: center">
                                                           <b> <h4>DATES</h4></b>
                                                               <h5>25TH January </h5><br>
                                                            <b><h4>VENUE</h4></b>
                                                               <h5>SPIT - Andheri-West</h5>
                                                   </div>
                                              </div>
                                            </div>
                                          </div> 
                            </div>
                            <div class="col-sm-4">
                                
                                
                                <div class="w3-container">
                                       
                                        <div id="team"class="w3-card-4" style="width:100%">
                                          <img id="one"src="WhatsApp Image 2019-03-17 at 22.24.14.jpeg" alt="Person" style="width:100%">
                                          <div class="w3-container" style="background-color:rgba(193, 191, 204, 0.651)">
                                                <div id="info"  style="text-align: center">
                                                        <h4>DATES</h4>
                                                        <h5>23RD-24TH March</h5><br>
                                                        <h4>VENUE</h4>
                                                        <h5>SPIT - Andheri-West</h5>
                                               </div>
                                          </div>
                                        </div>
                                      </div>
                            
                            </div>
                                 




</div>









                        </body>